<li class="separator acl-write"></li>

<li data-type="button" data-key="run" data-l10n-id="ep_rehearsal_compiler.toolbar.run.title">
  <a class="grouped-left ep_rehearsal_compiler" data-align="0" data-l10n-id="ep_rehearsal_compiler.toolbar.run.title" title="Rehearsal Compiler" aria-label="Rehearsal Compiler">
    <button class="buttonicon buttonicon-align-left ep_rehearsal_compiler" data-align="0" aria-label="Run Rehearsal Compiler"></button>
  </a>
</li>